App.css
body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  text-align: center;
  margin-top: 40px;
}

input {
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 8px 12px;
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 60%;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
}

th {
  background: #4CAF50;
  color: white;
}
